header {
    background-image: url("../images/header.jpg");
    background-color: #cccccc;
    height: 400px;
}

header h1 {
    color: white;
    text-align: right;
}

/* th {
    text-transform: capitalize;
} */


/*
#course-list li span {
    color: blue;
    font-weight: bold;
}

*/